
/* impressao.css */

@page {
  margin: 0;
  size: 58mm auto;
}

body {
  font-family: 'Courier New', monospace;
  background: white;
  color: black;
  margin: 0;
  padding: 0;
}

#conteudo {
  width: 58mm;
  margin: 0;
  padding: 0;
}



#cupom, #tickets {
  border-bottom: 1px dashed #333;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.ticket {
  margin-bottom: 10px;
  border: 1px dashed #000;
  padding: 8px;
  text-align: center;
}

.ticket h4 {
  font-size: 18px;
}

.ticket p {
  font-size: 16px;
}


.botoes {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

@media print {
  .botoes {
    display: none;
  }
}

